 .grid{
     display:grid;
     grid-template-columns: 50% 50%;
     grid-column-gap:1em;
     grid-row-gap:1em;
     grid-template-columns: minmax(min-content, 480px)
     
     
 }
  .grid > div{
background:#eee;
padding:2em;
    }
    .grid >div:nth-child(odd){
   background:#ddd;
    }
